
@font-face {
    font-family: 'MyFont';
    src: url('../../../Fonts/Fontspring-DEMO-altivo-regular.otf');
}

.contents{
    height: 53rem;
    background-color: rgb(14, 11, 11);
}

/* faqs container */
.faq{
    max-height: 100%;
    max-width: 100%;
    position: relative;
    margin-left: 23rem;
    top: 13%;
}

.main-heading{
    position: relative;
    left: 27%;
    top: 11%;
    font-family: 'MyFont',sans-serif;
    color : rgb(219, 206, 206);
    font-weight: 900;
    font-size: 1.5rem;
}

@media (max-width : 480px){
    .contents{
        height: 85rem;
    }
    .faq{
        position: relative;
        margin-bottom: 10rem;
        text-align: center;
        right: 20rem;
        width: 100vw;

    }
    .faq::before{
        content: 'Frequently Asked Questions';
        position: relative;
        right: 4rem;
        bottom: 2rem;
        font-family: 'MyFont',sans-serif;
        color: rgb(219, 206, 206);
        font-size: 1.2rem;
    }
    .main-heading{
        display: none;
        
    }
}




 








